<?xml version="1.0" encoding="utf-8" ?>
<module-metadata>
  <name>test</name>
  <label>Module for unit test</label>
  <description>
   <![CDATA[
   ]]> 
  </description>
  <auto-load>true</auto-load>
  <source-language>csharp</source-language>
  <sources>
    <file>simple-models.cs</file>
    <file>many-to-many-models.cs</file>
    <file>functional-field-object.cs</file>
    <file>inheritance-models.cs</file>
    <file>tree-models.cs</file>
  </sources>
  
  <data-files>
    <file>data.xml</file>
  </data-files>
  
</module-metadata>