<?xml version="1.0" encoding="utf-8" ?>
<module-metadata>
  <name>test</name>
  <label>Module for unit test</label>
  <info>
    <![CDATA[
   ]]>
  </info>
  <auto-load>true</auto-load>
  <source-language>csharp</source-language>
  <sources>
    <file>simple-models.cs</file>
    <file>many-to-many-models.cs</file>
    <file>functional-field-object.cs</file>
    <file>inheritance-models.cs</file>
    <file>tree-models.cs</file>
  </sources>

  <init-files>
    <file>security-data.xml</file>
    <file>data.xml</file>
  </init-files>

</module-metadata>