<?xml version="1.0" encoding="utf-8" ?>
<module-metadata>
  <name>test</name>
  <label>Module for unit test</label>
  <description>
   <![CDATA[
   ]]> 
  </description>
  <auto-load>true</auto-load>
  <script-language>csharp</script-language>
  
  <source-files>
    <file>test-object.cs</file>
    <file>functional-field-object.cs</file>
  </source-files>
  
  <data-files>
    <file>data.xml</file>
  </data-files>
  
</module-metadata>