<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="objectserver-config" type="ObjectServer.ConfigSectionHandler, ObjectServer.Infrastructure"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <objectserver-config>
    <debug>true</debug>
    <db-type>postgresql</db-type>
    <db-host>localhost</db-host>
    <db-port>5432</db-port>
    <db-user>objectserver</db-user>
    <db-password>objectserver</db-password>
    <db-name>objectserver</db-name>
    <root-password>root</root-password>
    <module-path></module-path>
  </objectserver-config>

</configuration>
