<?xml version="1.0" encoding="utf-8" ?>
<module-metadata>
  <name>demo</name>
  <label>演示模块</label>
  <info>
    <![CDATA[
      此模块演示一个最小化的 SlipStream 业务模块应该怎么编写
   ]]>
  </info>
  <demo>true</demo>
  <author>Wei Li [liwei@sandwych.com]</author>
  <version>0.1</version>

    <!-- 是否自动发现并激活模块，不需要手动进入模块管理安装 -->
  <auto-load>true</auto-load>

  <dlls>
    <file>bin\SlipStream.DemoModule.dll</file>
  </dlls>

    <!-- 指定 C# 项目文件，项目文件里需要包含所有要编译的 C# 代码文件 -->
  <project-file>SlipStream.DemoModule.csproj</project-file>
  <init-files>

    <!-- 指定用户界面定义文件 -->
    <file>data\ui.xml</file>
    
    <!-- 下面这行是导入演示数据 -->
    <file>data\demo-data.xml</file>
  
  </init-files>

  <!-- 指定此模块依赖的模块，这里我们只依赖系统核心的 Core 模块 -->
  <requires>
    <module>core</module>
  </requires>

</module-metadata>
