<?xml version="1.0" encoding="utf-8" ?>
<module-metadata>
  <name>test</name>
  <label>Module for unit test</label>
  <info>
    <![CDATA[
   ]]>
  </info>
  <auto-load>true</auto-load>
  <source-language>csharp</source-language>
  <dlls>
    <file>bin\SlipStream.TestModule.dll</file>
  </dlls>

  <init-files>
    <file>data\security-data.xml</file>
    <file>data\data.xml</file>
  </init-files>

  <requires>
    <module>core</module>
  </requires>

</module-metadata>
